/* HomePage.css */

/* Draggable Box */
.draggable-box {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #888;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50px;
  left: 50px;
  cursor: move;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.draggable-box h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.draggable-box input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.draggable-box button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.draggable-box button:hover {
  background-color: #45a049;
}

/* Friends and Friend Requests Lists */
.friends-list, .friend-requests-list {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  max-height: 150px;
  overflow-y: auto;
}

.friends-list li, .friend-requests-list li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.friend-requests-list li button {
  margin-left: 10px;
  padding: 5px 10px;
}

.accept-button {
  background-color: #4CAF50;
}

.reject-button {
  background-color: #f44336;
}

.accept-button:hover {
  background-color: #45a049;
}

.reject-button:hover {
  background-color: #e53935;
}

/* Action Buttons (Profile, Calendar, Logout) */
.actions-container {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background-color: #f7f7f7;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.actions-container button {
  padding: 10px 20px;
  background-color: #4a90e2;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.actions-container button:hover {
  background-color: #357abd;
}

.tabs-container {
  display: block;
  justify-content: space-around;
  position: fixed;
  margin-top: 60px;
  width: 300px;
  padding: 15px;
  margin-left: 400px;
  
}